@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --header-color: #2c3e50;
    --font-main-color: white;
    --border-radius: 8px;
    --footer-font-color: #ffffffd5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    /* position: relative; */
    overflow: auto;
}

body::-webkit-scrollbar {
    display: none;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    background-color: var(--header-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 1rem 0;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-tag {
    padding: 10px 0;
    color: white;
}

.logo-tag h1 {
    margin-bottom: .7rem;
}

.logo-tag span {
    opacity: .8;
}

.nav-links {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    gap: 20px;

}

.nav-links li {
    list-style: none;
    padding: 10px 15px;
    transition: all .5s ease;
}

.nav-links li:hover {
    background-color: rgb(139, 88, 88);
    border-radius: var(--border-radius);
}

/* .nav-links li:focus{
    border: 2px solid rgb(251, 0, 0);
} */

.nav-links li a {
    text-decoration: none;
    color: white;
    padding: auto;
}

.background-light {
    width: 100%;
    height: 100%;
    background-color: #000000c8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-section {
    background: url("./Images/main-secton-img.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: center;
}

.main-page {
    margin: 20px 0;
}

.main-page h2 {
    font-size: 4.5em;
    color: var(--font-main-color);
    margin-bottom: 20px;
    font-weight: 400;

}

.main-page p {
    color: var(--font-main-color);
    font-size: 1.4rem;
}

.ctc-btn {
    margin-top: 30px;
}

.ctc-btn a {
    margin: 10px 20px;
    padding: 15px 20px;
    background-color: #ff5900;
    text-decoration: none;
    color: var(--font-main-color);
    border-radius: var(--border-radius);
    font-weight: 600;
    display: inline-block;
}

.primary-btn {
    transition: all .5s ease;
}

.ctc-btn a:hover.primary-btn {
    transform: translateY(-5px);
    opacity: .9;
}

.ctc-btn .secondry-btn {
    background-color: transparent;
    border: 2px solid var(--font-main-color);
    transition: all .5s ease;

}

.ctc-btn .secondry-btn:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.menu-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem 20px 0;
    /* background-color: #f8f9fa; */
}

.menu-title {
    text-align: center;
    margin: 20px 0;
}

.menu-title h2 {
    color: var(--header-color);
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

.menu-title p {
    color: rgb(91, 91, 91);
    padding: 10px 0;
}

.menu-type {
    width: 100%;
    padding: 10px 0;
    color: var(--header-color);
}

.menu-section hr {
    width: 100%;
    height: 3px;
    background-color: #ff5900;
}

.menu-item-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 40px 0;
    gap: 30px;
}

.menu-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-radius: var(--border-radius);
    box-shadow: 2px 2px 15px rgb(196, 196, 196);
    transition: all .3s ease;
}

.menu-name:hover {
    transform: translateY(-3px);
}

.dish-name {
    padding: 10px;
}

.dish-name h3 {
    color: var(--header-color);
    padding: 10px 0;
}

.dish-name .ingredient {
    color: rgba(58, 58, 58, 0.662);
    font-size: .9rem;
}

.menu-price {
    padding: 10px;
    font-weight: 600;
    color: #ff5900;
}

/* ******************************************about section *************************************** */
.about-section {
    padding: 6rem 20px 0;
}

.about-title {
    font-size: 2.5rem;
    color: var(--header-color);
    text-align: center;
    margin: 2rem 0;
}

.about-img-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    align-items: center;
    /* justify-content: center; */
    padding-bottom: 5rem;
}

.about-section-story h4 {
    color: var(--header-color);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.about-section-story p {
    margin-bottom: 1rem;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #555;
}

.image {
    width: 100%;
    height: 100%;
    /* border: 2px solid black; */
}

.image img {
    border-radius: var(--border-radius);
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.contact-section {
    padding: 5rem 20px;
}

.contact-section h3 {
    font-size: 2.5rem;
    color: var(--header-color);
    text-align: center;
    margin: 2.5rem 0;
}

.details-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 2rem;
    /* justify-content: start; */
}

.contact-address {
    display: flex;
    gap: 2rem;
    justify-content: start;
    flex-direction: column;
}

.contact-address h4 {
    font-size: 1.4rem;
    color: var(--header-color);
}

.contact-address-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-address-info span {
    font-weight: 600;
    color: var(--header-color);
}

.contact-address-info p {
    color: rgb(46, 46, 46);
}

.reservation-form {
    display: flex;
    flex-direction: column;
}

.reservation-form h4 {
    font-size: 1.4rem;
    color: var(--header-color);
    margin-bottom: 1rem;
}

.reservation-form form {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.reservation-form label {
    color: var(--header-color);
    font-weight: 600;
    margin: 1rem 0 .5rem 0;
}

.reservation-form form input {
    padding: .5rem 10px;
    width: 100%;
}

.reservation-form form textarea {
    padding: .5rem 10px;
}

input,
textarea,
select {
    padding: .5rem 10px;
    font-family: Arial, sans-serif;
    color: #333;
    cursor: pointer;
    outline: none;
}

textarea:focus,
input:focus,
select:focus {
    border-color: var(--header-color);
    box-shadow: var(--header-color);
}

#bookSeat {
    margin: 10px 0px;
    padding: 15px 20px;
    background-color: #ff5900;
    color: var(--font-main-color);
    outline: none;
    border: none;
    font-weight: 600;
}

#bookSeat:focus {
    border: 2px solid var(--header-color)
}

/********************************footer****************************** */
.footer {
    background-color: var(--header-color);
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    align-items: start;
    padding: 3rem 1rem 3rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.112);
}

.footer-tagline {
    line-height: 1.5;
    color: var(--footer-font-color);

}

.footer-title-font,
.footer-quick-links,
.footer-opening-links,
.follow-us {
    color: white;
    margin: 10px 0px;
    font-size: 1.2rem;
}

.quick-links li {
    list-style: none;
    padding-bottom: 10px;
}

.quick-links li a {
    color: var(--footer-font-color);
    text-decoration: none;
}

.footer-timing-list li {
    list-style: none;
    color: var(--footer-font-color);
    padding-bottom: 10px;
}

.footer-links {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.footer-links a {
    text-decoration: none;
    color: var(--footer-font-color);
    padding: 5px 10px;
    background-color: #333333;
    border-radius: 4px;
    font-weight: 100;
}

.footer-span{
    width: 100%;
    text-align: center;
    padding: 2rem 0 1rem 0;
}

.footer-rights-reserved{
    width: 100%;
    display: inline;
    color: rgb(184, 184, 184);

}

/*************************** responsive at width of 868 ***********************/
@media (max-width: 868px) {
    .main-page h2 {
        font-size: 3.2rem;
    }

    .main-page p {
        font-size: 1rem;
    }

    .about-section-story p {
        font-size: .9rem;
        line-height: 1.3;
    }

    .footer-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/*************************** responsive at width of 668 ***********************/

@media (max-width: 668px) {
    .header {
        padding-bottom: 0;
    }

    .navBar {
        flex-direction: column;
    }

    .logo-tag {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .logo-tag h1 {
        margin: 0;
    }

    .nav-links {
        width: 100%;
        justify-content: space-between;
        background-color: #ff5900;
        gap: 0;
    }

    .nav-links li {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .nav-links li a {
        padding: 1rem 30px;
    }

    .nav-links li:hover {
        border-radius: 0px;
    }
}

/*************************** responsive at width of 568 ***********************/

@media (max-width:568px) {
    .details-grid {
        grid-template-columns: 1fr;
    }

    .contact-address {
        display: none;
    }
}

/*************************** responsive at width of 468 ***********************/

@media (max-width:468px) {
    .nav-links li a {
        padding: .7rem 20px;
    }

    .main-page h2 {
        margin-top: 20px;
        padding: 0 20px;
        font-size: 2rem;
    }

    .main-page p {
        /* font-size: 2.5rem; */
        padding: 10px 25px;
    }

    .ctc-btn {
        display: flex;
        flex-direction: column;
    }

    .footer-grid {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
    }
}

/*************************** responsive at width of 405 ***********************/
@media (max-width:405px) {
    .logo-tag span {
        display: none;
    }

    .nav-links li a {
        padding: .5rem 10px;
    }

    .about-img-info {
        grid-template-columns: 1fr;
    }

    .about-img-info {
        padding: 0;
    }

}